*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 514px;
    margin: 0 auto;
    position: relative;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 8px;
    background-color: #CF2B2B;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

header h1{
    font-size: 44px;
    font-family: "Righteous", cursive;
}

header span{
    font-size: 18px;
}

main{
    padding-left: 20px;
}

main h2{
    font-size: 26px;
    font-family: "Righteous", cursive;
    margin: 1em 0;
}

main .options{
    display: flex;
    padding-bottom: 16px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    cursor: grab;
}

main .options > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 250px;
    padding: 16px;
    margin-right: 16px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

main .options > div.selected{
    padding: 11px;
    border: 5px solid #32B72F;
}

main .options div > img{
    width: 150px;
    height: 90px;
}

main .options > div *{
    pointer-events: none;
}

main .options > div *:not(:first-child){
    margin-top: 12px;
}

main .options h3{
    font-size: 16px;
    font-weight: bold;
}

main .options span:first-of-type{
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 300;
}

main .options .checkmark{
    display: none;
}

main .options .selected .checkmark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #32B72F;
}

main .options .selected .checkmark img{
    width: 70%;
    filter: invert(1);
}

main .btn-submit{
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 20px;
    background-color: white;
}

main .btn-submit button, .confirm-msg .btn-confirm button{
    width: 100%;
    min-height: 60px;
    padding: .5em 10%;
    font-size: 22px;
    text-align: center;
    background-color: #cbcbcb;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

main .btn-submit.ready button:nth-child(2){
    background-color: #32B72F;
}

main .btn-submit.ready button:first-child,
main .btn-submit button:nth-child(2){
    display: none;
}


main .btn-submit button:first-child,
main .btn-submit.ready button:nth-child(2){
    display: initial;
}

.confirm-msg.overlay{
    display: none;
    transition: .2s ease-out all;
}

.confirm-msg.overlay.visible{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 514px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
}

.confirm-msg > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: #50D074;
}

.confirm-msg h3, .confirm-msg .order{
    margin-bottom: 1em;
}

.confirm-msg .order{
    width: 100%;
}

.confirm-msg .order .item{
    display: flex;
    justify-content: space-between;
    margin-bottom: .75em;
}

.confirm-msg .order .item:last-child{
    border-top: 2px solid white;
    padding-top: .75em;
}

.confirm-msg .order .item:not(:last-child){
    font-weight: 400;
}

.confirm-msg .btn-confirm{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.confirm-msg .btn-confirm button:first-child{
    color: #50D074;
    font-weight: bold;
    background-color: white;
}

.confirm-msg .btn-confirm button:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

@media (max-width: 514px){
    .confirm-msg.overlay.visible{
        width: 100vw;
    }
}