*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 414px;
    margin: 0 auto;
    position: relative;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 16px;
    background-color: #CF2B2B;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

header h1{
    font-size: 44px;
    font-family: "Righteous", cursive;
}

header span{
    font-size: 18px;
}

main{
    padding-left: 20px;
}

main h2{
    font-size: 26px;
    font-family: "Righteous", cursive;
    line-height: 2em;
}

main .options{
    display: flex;
    margin-bottom: 16px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

main .options > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 200px;
    width: 170px;
    padding: 16px;
    margin-right: 16px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);;
}

main .options > div.selected{
    border: 5px solid #32B72F;
}

main .options > div *:not(:first-child){
    margin-top: 12px;
}

main .options h3{
    font-size: 16px;
    font-weight: bold;
}

main .options span:first-of-type{
    color: #a6a6a6;
    font-size: 15px;
    font-weight: 300;
}

main .options .checkmark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #32B72F;
}

main .options .checkmark img{
    width: 70%;
    filter: invert(1);
}

main .btn-submit{
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 20px;
    background-color: white;
}

main button{
    width: 100%;
    padding: .5em 20%;
    font-size: 22px;
    text-align: center;
    background-color: #cbcbcb;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}